:root {
   --back-white--:#E4E6F1;
    --black-text--:#000000;
    --grey-text--:rgba(0, 0, 0, 0.6);
    --white--:#FFFFFF;
  }
  body {
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 0;
  }


  /* navbar */
  .logo{
    font-size: 24px;
    font-family: Lobster , sans-serif;
    height:36px;
  }
  .nav-item{
    font-size: 24px;
    color: black !important;
  }
  

.navbar-light .navbar-nav .nav-link {
    color:var(--black-text--);
}
.navbar{
    margin-top:20px;
}


/* hero-section */