:root {
  --back-white--: #e4e6f1;
  --black-text--: #000000;
  --grey-text--: rgba(0, 0, 0, 0.6);
  --white--: #ffffff;
  --sky-blue--: #e7fafe;
  --grey-back: rgba(0, 0, 0, 0.05);
}
body {
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--back-white--);
}

/* navbar */
.logo {
  height: 30px;
}
.nav-link {
  font-size: 16px !important;
  color: var(--black-text--) !important;
  font-weight: bold !important;
}
.nav-link:hover {
  color: rgb(148, 148, 148) !important;
}
.navbar-light .navbar-nav .nav-link {
  color: black;
  padding: 10px !important;
}
.home_row {
  background-color: var(--sky-blue--);
  border-radius: 16px;
}
.letter_button {
  background-color: var(--white--);
  border-radius: 30px !important;
  padding: 11px 20px 10px 20px;
  border: none;
  display: flex;
}
.button_title {
  font-size: 14px;
  color: var(--grey-text--);
  padding-left: 13px;
  padding-top: 2px;
  font-weight: 500;
}
.black_logo {
  width: 32px;
  height: 33px;
  margin-top: 11px;
}
.hero_title {
  margin-top: 32px;
  font-size: 64px;
  /* Line-height: 77px; */
  font-weight: 600;
  color: var(--black-text--);
}
.home_timer_btn {
  font-weight: 600 !important;
  color: var(--black-text--) !important;
}
.r_btn {
  margin-top: 0px !important;
}
.hero_left {
  padding: 50px 50px 50px 50px;
}
.hero_info {
  color: var(--grey-text--);
  font-size: 16px;
  font-weight: 400;
  margin-top: 24px;
}
.hero_button {
  margin-top: 30px;
  display: flex;
}
.hero_profile {
  margin-top: 70px;
}
.profile_info .name,
.blog_p_name {
  font-size: 16px;
  font-weight: 700;
  color: var(--black-text--);
}
.right{
  display: none;
}
.cate_r_2 {
  background-color: transparent;
  border: none;
}
.cate_r_2:hover {
  background-color: var(--grey-back);
  border: none;
}
.profile_info .date,
.blog_p_date {
  font-size: 14px;

  color: var(--grey-text--);
}
.profile_info {
  margin: 6px 10px 10px 10px;
}
.view_btn {
  padding: 18px 36px 18px 36px;
  background-color: var(--black-text--);
  border-radius: 16px;
  color: white;
  border: none;
}
.view_btn:hover {
  background-color: var(--grey-text--);
}
.hero_profile {
  justify-content: space-between;
}
.hero_button .letter_button {
  background-color: var(--grey-back);
  margin-right: 2pc;
}
.letter_button:hover {
  background-color: white !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(80%) grayscale(100%);
  color: transparent;
}

.caro_item {
  border-radius: 30px;
  overflow: hidden; 
}

/* category */
.category_title {
  font-size: 48px;
  font-weight: 600;
  color: var(--black-text--);
}
.category {
  display: flex;
}
.category_btn {
  background-color: var(--sky-blue--);
  padding: 21px 27px 21px 27px;
  font-size: 16px !important;
  font-weight: 600 !important;
  border-radius: 16px;
  border: none;
  color: var(--black-text--);
}
.category_btn:hover {
  background-color: var(--grey-back);
}
.category {
  justify-content: space-between;
  padding: 100px 25px 20px 25px;
}
.learn {
  padding: 21px 52px 21px 52px !important;
  font-weight: 600 !important;
}
.list_img{
  width: auto !important;
}
/* .owl-carousel .owl-item img {
  width: unset !important;
} */
.footer_logo{
  height: 30px;
}

.list {
  padding: 10px 20px 10px 20px;
  margin-top: 50px;
}
.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
}
.list_name {
  font-size: 18px;
  margin: 50px 0px 30px 0px;
  font-weight: 600;
}

/* racipes category */
.r_c_info {
  text-align: center;
  margin-top: 80px;
}
.racipes_list {
  padding: 16px 16px 24px 16px;
  background: linear-gradient(rgba(231, 249, 253, 0) 0%, #e7f9fd 100%);
  border-radius: 30px;
  margin-top: 20px;
}

.racipes_title {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: px;
  padding: 24px;
}
.racipes_button {
  background-color: transparent !important;
  margin-right: 0pc !important;
}
.ads_img {
  margin-top: 37px;
}
.recipe_image {
  max-width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) and (max-width: 992.98px) {
  .racipes_title {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .racipe_cate_2 {
    margin-top: 50px !important;
  }
  .view_instagram {
    padding: 0px 0px 20px 0px !important;
  }
  .category {
    justify-content: space-between;
    padding: 44px 25px 20px 25px !important;
  }
  .footer .nav-link {
    font-size: 12px !important;
    color: var(--black-text--) !important;
  }
  .r_btn {
    display: inline;
  }
 .hero_slider .hero_left{
  padding: 10px !important;
  }
  .hero_slider .hero_info{
    display: none !important;
  }
  .category_title {
    font-size: 28px;
  }
  .hero_title {
    font-size: 40px;
  }
  .hero_profile {
    display: none !important;
  }
  .poster_chef .hero_title {
    font-size: 32px !important;
    margin: 0px !important;
  }
  .poster_chef .hero_left {
    margin-top: 0px !important;
  }
  .poster_chef .hero_info {
    display: none !important;
  }
  .racipe_cate_2 .button_title {
    font-size: 10px !important;
  }
  .wish-list-button {
    position: absolute;
    top: 40px !important;
    right: 37px !important;
    display: none;
    transform: translate(50%, -50%);
    background-color: white;
    border-radius: 50px;
    padding: 3px 3px 3px 3px !important;
  }
  .rice_p {
    display: none !important;
  }
  .tablate_view {
    display: block !important;
  }
  .rice_img img {
    margin: 57px 5px 30px 30px !important;
  }
  .recipe_rice .category_title {
    font-size: 51px !important;
    /* line-height: 63px !important; */
  }
}
.racipes_list {
  position: relative;
}

.recipe_image {
  width: 100%;
  height: auto;
}

.racipes_list:hover .wish-list-button {
  display: block;
}

.wish-list-button {
  position: absolute;
  top: 50px;
  right: 50px;
  display: none;
  transform: translate(50%, -50%);
  background-color: white;
  border-radius: 50px;
  padding: 10px 10px 10px 10px;
}
.poster_chef .home_row {
  background-color: var(--back-white--) !important;
}
.learn {
  margin-top: 30px !important;
}
.poster_chef .hero_title {
  font-size: 48px;
  /* line-height: 58px; */
  color: var(--black-text--);
}
.poster_chef {
  margin-top: 80px;
}
.poster_chef .hero_left {
  margin-top: 50px;
}
.poster_chef .chef {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
}
/* view instagram */
.view_instagram {
  padding: 80px 0px 80px 0px;
  background: linear-gradient(rgba(231, 249, 253, 0) 0%, #e7f9fd 100%);
}
/* racipe_cate_2 */
.racipe_cate_2 .racipes_title {
  font-size: 18px !important;
  line-height: 28px !important;
  padding: 16px !important;
}
.racipe_cate_2 .racipes_list {
  background: var(--back-white--) !important;
}
.racipe_cate_2 .category_title {
  padding: 10px 20px 40px 20px;
}
.racipe_cate_2 {
  margin-top: 80px;
}
.racipe_cate_2 .racipes_list:hover {
  background: whitesmoke !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.racipe_cate_2 .letter_button:hover {
  background-color: var(--grey-back) !important;
}

/* inbox */
.img_inbox {
  max-width: 100%;
  height: auto;

}

/* footer */
.footer_menu {
  justify-content: space-evenly;
  text-decoration: none;
  list-style: none;
  margin-top: 20px;
}
.mobile_view_home {
  display: none;
}

.footer .nav-link {
  font-size: 16px;
  color: var(--black-text--) !important;
}
.copy_right {
  position: relative;
  align-items: center;
}

.year {
  text-align: center;
}

.social_icon {
  float: right;
  gap: 20px; 
  position: absolute;
  right: 0;
  bottom: 0;
}
/* blog */
.blog_profile {
  justify-content: center;
  margin-top: 50px;
}
.blog_p_date,
.blog_p_name {
  margin-top: 15px;
}
.blog_p_date {
  padding-left: 88px;
}
.blog_p_name {
  padding-left: 23px;
}
.slide_img {
  opacity: 0.7;
}

.list:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.slide_mobile {
  text-align: center;
  font-size: 30px !important;
  font-weight: 600;
  color: var(--grey-text--) !important;
  padding: 10px 10px 60px 10px;
}
.vl {
  border-left: 1px solid rgb(142, 143, 142);
  height: 50px;
  margin-left: 4pc;
}
.vertical_line {
  border-left: 1px solid rgb(142, 143, 142);
  height: 50px;
}
.blog {
  margin-top: 70px;
}
.blog .hero_info {
  margin: 30px !important;
}
.blog_img img {
  width: 100%;
  height: auto;
}
.blog_que {
  font-size: 24px;
  font-weight: bold;
  margin-top: 80px;
}
.blog_ans {
  font-size: 16px;
  margin-top: 24px;
}
.ans_box {
  margin-top: 80px;
  background: linear-gradient(#878787 0%, rgba(0, 0, 0, 0) 100%);
}
.ans_box h1 {
  font-size: 30px;
  font-style: italic;
  padding: 48px 40px 48px 40px;
}
.blog_social_icon {
  font-size: 14px;
  font-weight: bold;
  margin-top: 80px;
}
.b {
  text-align: center;
}
.first_slide{
  background-size: cover;
}
.inbox {
  background-image: url(./Components/p5.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  border-radius: 40px;
  height: 100%;
  margin: 80px 0px 80px 0px !important;
  padding: 30px 30px 30px 30px;
  position: relative;
  text-align: center;
}
.footer {
  padding: 10px;
}

.bbb-wrapper {
}
.fl-wrap {
  float: left;
  width: 100%;
  position: relative;
}

.bbb-wrapper .subcribe-form p {
  color: var(--grey-text--);
  font-size: 16px;
  font-weight: 400;
  margin: 32px;
}

.bbb-wrapper .subcribe-form form {
  max-width: 450px;
  margin: 15px auto;
  position: relative;
}

.bbb-wrapper .subcribe-form #subscribe input {
  width: 100%;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 24px;
  padding: 22px 30px 22px 30px;
  box-shadow: 0px 0px 0px 7px rgba(255, 255, 255, 0.2);
}

.bbb-wrapper .subcribe-form #subscribe #subscribe-button {
  margin: 10px;
  padding: 10px 30px 10px 30px;
  border-radius: 16px;
  border: none;
  position: absolute;
  right: 6px;
  top: 6px;
  font-size: 11px;
  color: #fff;
}

.subscribe-message {
  color: #fff;
  float: left;
  margin-top: 10px;
  text-align: left;
  font-weight: 500;
}

.color-bg {
  background: #161616;
  color: #fff;
}

#subscribe-button:hover {
  background: #aaacb1;
  color: #fff;
}
.inbox .category_title {
  margin-top: 60px;
}
/* rice_racipe */
.rice_profile .name {
  font-size: 16px;
  font-weight: bold;
}
.rice_profile .date {
  font-size: 14px;
  color: var(--grey-text--);
  padding-top: 5px;
}
.rice_info {
  margin: 12px;
}
.recipe_rice {
  margin-top: 50px;
}
.rice_img img {
  padding: 25px;
  background-color: var(--sky-blue--);
  margin: 75px 30px 30px 30px;
  border-radius: 50px;
}
.recipe_rice .category_title {
  font-size: 60px;
  padding: 30px;
}
.tablate_view {
  display: none;
}
.rice_img {
  width: 100%;
  height: auto;
}
.rice_hero {
  margin-top: 50px;
  padding: 20px;
}
.rice_category {
  display: flex;
  justify-content: space-between;
}
.rice_p_title {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 15px;
}
.rice_info_2 {
  padding: 32px;
  background-color: var(--sky-blue--);
  border-radius: 30px;
}
.rice_category_title {
  font-size: 18px;
  color: var(--grey-text--);
}
.rice_category_info {
  font-size: 18px;
  color: var(--black-text--);
  font-weight: bold;
}
iframe {
  border-radius: 30px;
}
.other_title {
  font-size: 36px;
  font-weight: bold;
}
.rice_other {
  padding: 30px;
}
.rice_radio_title {
  font-size: 18px;
  color: var(--black-text--);
  padding: 33px;
}
.rice_radio_label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.rice_radio_label span.rice_radio_title {
  margin-left: 8px;
}

.rice_radio_label input[type='radio']:checked + span.rice_radio_title {
  color: black;
  font-weight: bold;
}

.rice_radio_label input[type='radio']:checked::before {
  content: '\2713';
  width: 12px;
  height: 1px;
  border-radius: 50%;
  background-color: black;
  margin-right: 8px;
  padding: 7px 10px 7px 10px;
  text-align: center;
  color: white;
  margin-left: -3px;
}
.other_img_info h4 {
  font-size: 20px;
  font-weight: bold;
}
.other_img_info p {
  font-size: 14px;
  color: var(--grey-text--);
}
.other_img_info {
  padding: 24px;
}
.other_img {
  display: flex;
  padding: 20px;
}
.other_racipes_img {
  width: 100%;
  height: auto;
}

.form-card {
  margin-top: 60px;
}
.form-card label {
  font-size: 12px;
  letter-spacing: 12%;
  padding: 10px;
  color: var(--grey-text--);
}
input,
textarea,
button,
.form-select {
  padding: 8px 15px;
  border-radius: 16px !important;
  margin: 5px 0px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-size: 14px !important;
  font-weight: 300;
  color: var(--grey-text--);
}
input:focus,
.form-select,
textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
  font-weight: 400;
}
.btn-block:hover {
  color: #fff !important;
}
button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
}
::placeholder,
option {
  font-size: 14px;
}
.contact {
  padding: 50px;
}
.Foodieland {
  justify-content: space-between;
  padding: 10px;
  border-radius: 3px;
}
.food_title {
  font-size: 14px;
  font-weight: bold;
}
.food_info {
  font-size: 12px;
  color: var(--grey-text--);
}
.instagram_img {
  width: 100%;
  height: auto;
}
.food_icon {
  justify-content: space-between;
}
.food_follow {
  padding: 20px;
  border-radius: 3px;
}
.food_like {
  gap: 10px;
}
.instagram_view {
  margin-top: 30px;
  background-color: var(--white--);
  border-radius: 10px;
}
.instagram_btn {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.instagram_view:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.insta_view {
  padding: 15px 20px !important;
}
.poster_left {
  padding: 5px !important;
}
.navbar_toggle {
  background-color: var(--white--) !important;
  padding: 10px !important;
  margin-bottom: 10px;
}
.Slides_img {
  width: 100%;
  height: auto;
}


@media screen and (min-width: 320px) and (max-width: 576px) {
  .category_btn {
    padding: 10px 10px 10px 10px;
    margin-top: 20px !important;
  }
  .navbar {
    margin-top: 0px !important;
  }
  .navbar-light .navbar-brand {
    margin-bottom: 10px !important;
  }
  .racipes_title {
    font-size: 18px !important;
    font-weight: 600;
    padding: 15px !important;
  }
  .category {
    padding-top: 47px !important;
  }
  .r_c_info {
    text-align: center;
    margin-top: 55px !important;
  }
  .inbox_space {
    white-space: normal !important;
  }
  .bbb-wrapper .subcribe-form p {
    margin: 10px !important;
  }
  .category {
    display: block;
    text-align: center;
  }
  .mobile_view_home {
    display: block !important;
  }
  .hero_slider {
    display: none;
  }
  .view_instagram {
    margin-top: 0px !important;
  }
  .category_title {
    font-size: 24px;
  }
  .hero_title {
    margin-top: 25px;
    font-size: 30px;
  }
  .list_name {
    margin: 30px 0px 30px 0px !important;
  }
  .hero_profile {
    display: none !important;
  }
  .hero_button {
    display: block;
  }
  .r_btn {
    display: flex !important;
  }
  .l_btn {
    margin-bottom: 20px;
  }
  .poster_chef .hero_title {
    font-size: 30px !important;
  }
  .poster_chef .video_button {
    text-align: center !important;
  }
  .view_instagram {
    padding-top: 50px !important;
  }
  .poster_chef .hero_left {
    margin-top: 0px !important;
  }
  .poster_chef {
    margin-top: 0px !important;
  }
  .racipe_cate_2 .button_title {
    font-size: 12px !important;
  }
  .button_title {
    font-size: 12px !important;
  }
  .recipe_image_1 {
    background-color: #aaacb1 !important;
  }
  .racipe_cate_2 {
    margin-top: 40px !important;
  }
  .hero_info {
    text-align: center !important;
  }

  .mobile_view_home {
    margin-top: 20px !important;
  }
  .hero_title {
    font-size: 30px !important;
    text-align: center !important;
  }
  .racipe_cate_2 .hero_info {
    text-align: center;
  }
  .racipe_cate_2 .category_title {
    padding: 10px 20px 0px 20px !important;
    text-align: center;
  }
  .footer_logo {
    text-align: center;
  }
  .footer_menu {
    display: none !important;
  }
  .blog_p_name {
    padding-left: 10px !important;
  }
  .blog_p_date {
    padding-left: 10px !important;
  }
  .vl {
    margin-left: 1pc !important;
  }
  .inbox .category_title {
    margin-top: 0px !important;
  }
  .bbb-wrapper .subcribe-form #subscribe input {
    font-size: 12px;
    padding: 22px 30px 22px 10px !important;
  }
  .bbb-wrapper .subcribe-form #subscribe #subscribe-button {
    margin: 11px 0px 2px 1px !important;
    padding: 10px 10px 10px 10px !important;
  }
.recipe_rice .category_title {
    font-size: 45px !important;
    text-align: center;
  }
  .right{
    display: block !important;
  }
  .copy_right{
    display: none;
  }
  .social{
    gap:10px !important;
  }
  .logo_footer{
    text-align: center;
  }
  .owl-carousel-wrapper {
    display: none !important;
  }
}

@media (max-width: 991px) {
  
}

